<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 1.数据源的配置 -->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
       <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
       <property name="url" value="jdbc:mysql://localhost:3306/attences?useUnicode=true&amp;characterEncoding=utf-8"></property>
       <property name="username" value="root"></property> 
       <property name="password" value="root"></property>
    </bean>-->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/attences?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="user" value="root" />
        <property name="password" value="root" />
    </bean>

    
    <!-- 2.SqlSessionFactoryBean对象 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
       <!--2.1 属性名dataSource 赋值  -->
       <property name="dataSource" ref="dataSource"></property>
       <!--2.2 加载mapping映射文件  -->
       <!-- 加载映射文件 -->
        <property name="mapperLocations">
        <!-- 使用通配符进行优化  -->
        	<list>
        	   <value>classpath:com/pro/dao/**/*.xml</value>
        
        	</list>
        </property> 
       <!-- 2.3 给实体类起别名 -->
       <property name="typeAliasesPackage" value="com.pro.pojo"></property>
    </bean>
    
    <!-- 3.MapperScannerConfigure  dao实例对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.pro.dao"></property>
    </bean>
    
    <!--======================4.声明式事务=======================-->
    <!-- 4.1 事务的管理类 -->
 <!--    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    </bean> -->
    <!-- 4.2 定义事务规则 -->
   <!--  <tx:advice transaction-manager="txManager" id="txAdivce">
       <tx:attributes>
       		<tx:method name="add*" propagation="REQUIRED"/>
       		<tx:method name="eidt*" propagation="REQUIRED"/>
       		<tx:method name="del*" propagation="REQUIRED"/>
       		<tx:method name="get*" read-only="true"/>
       		<tx:method name="*" read-only="true"/>
       </tx:attributes>
    </tx:advice>
    
    4.3 配置切面，织入切点
    <aop:config>
       设置切点
       <aop:pointcut expression="execution(* com.pro.service.*.*(..))" id="p"/>
       <aop:advisor advice-ref="txAdivce" pointcut-ref="p"/>
    
    </aop:config> -->
    
    <!--5.业务逻辑层的配置  -->
     <bean id="workService" class="com.pro.serivce.WorkServiceImpl">
       <property name="workMapper" ref="workorderMapper"></property>
     </bean>
     
     
     

	
	
	
	</beans>